useDynLib(HACSim, .registration=TRUE)
importFrom(ape, base.freq)
importFrom(ape, read.dna)
importFrom(ape, write.dna)
importFrom(pegas, haplotype)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
